html, body, #root, #root>div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: gray;
}

form {
  margin: 0 auto;
  width: 50%;
}

form label {
  display: flex;
  margin-left: 5px;
  font-size: 125%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.navbar, .nav {
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-top: 7px;
}

.nav a:hover {
  text-decoration: none;
  color: darkorchid;
}

.nav .nav-item {
  margin: 5px;
}

.card {
  width: 70%;
  margin: 5px auto;
  background: rgb(143, 62, 62);
  color: rgb(30, 23, 34);
}

.alert {
  margin: 0;
}
